.background-game{
    background-color: rgb(198, 232, 195);
    height: 100vh;
}

.chat{
    border-radius: 5px;
    right: 6vh;
}

.scroll{
    max-height: 42vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    display: none;
  }
  
.bosspann:hover{
    color: white;
}

.loader {
    position: fixed;
    top: 40%;
    left: 50%;
    margin: auto;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #60d1dd;
    width: 100px;
    height: 100px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .desc{
    min-width: 30%;
    max-width: 43%;
  }

  .chat-min{
    min-height: 20vh;
    max-height: 40vh;
    max-width: 150px;
    display: contents;
  }

  .mw{
    max-width: 400px;
  }

  .mw-2{
    max-width: 450px;
  }