.background{
    background-image: url("/public/zombie.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.card{
    background-color: rgba(82, 82, 82, 0.7);
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 70px;
    border-radius: 20px;
    color: rgb(230, 230, 230);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 14px 28px, rgba(0, 0, 0, 0.6) 0px 10px 10px;
    position: relative;
    min-width: 45vh;
    max-width: 60vh;
}

.table {
    color: rgb(0, 0, 0);
    width: max-content;
}

.login-btn {
    min-width: 300px;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
}

.btn-delete,
.btn-create {
    border: none;
    background: none;
    margin: 0;
    padding: 0
}

.alert-container {
    position: absolute;
    top: -5rem;
    left: 0;
    right: 0;
    border: none;
  }
  
  .alert-inner {
    display: inline-block;
    padding: 8px 16px;
    z-index: 4;
    background-color: rgba(82, 82, 82, 0.7) !important;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border: none;
  }

  .title{
    width: 16vh;
  }

  /* // Small devices (landscape phones, 576px and up) */
@media (max-width: 540px ){ 
    .login-btn{
        min-width: 100px;
        padding: 2px;
        font-size: 1rem;
        margin: 5px;
    }
    .card{
        padding:20px;
        
    } 
    .table-resp {
        width: 100%;
        overflow: auto;
        font-size: 1rem;
    }

    .text-sz{
        font-size: 20px;
    }

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 1024px) {  
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }