@import url("/node_modules/bootstrap/dist/css/bootstrap.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  --bs-modal-bg: rgba(82, 82, 82, 0.7);
  --bs-modal-header-border-color: black;
  --bs-modal-footer-border-color: black;
  --bs-modal-color: rgb(189, 189, 189);
}


.table {
  --bs-table-hover-bg: rgba(240, 87, 87, 0.08);
}

.table-hover {
  --bs-table-hover-color: white;
}

.input-group-text {
  background-color: #5cb85c;
}

.form-control {
  background-color: rgb(199, 202, 210);
}

.form-control:focus {
  background-color: rgba(239, 244, 247, 0.63);
}